header {
    background-color: goldenrod;
    color: white;
}
#modal{
    display: none;
}
#mainList {
    list-style-type: none;
    margin: 20px 50px;
    display: block;
    text-align: justify;
    position: relative;
}
li {
    margin-bottom: 30px;
}
.product-item{
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid #ae6d14;
    width: 300px;
    height: auto;
}
.product-id{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 300px;
    margin-bottom: 5px;
}
.product-name{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 300px;
    margin-bottom: 5px;
}
.product-price{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 300px;
    margin-bottom: 5px;
}
.product-category{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 300px;
    margin-bottom: 5px;
}
.product-image {
    width: 200px;
    height: 150px;
    border: #272909 1px solid;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 5px;
}
.delete-button{
    width: 100px;
    height: 30px;
    margin-left: 50px;
    margin-bottom: 5px;
}
.edit-button{
    width: 100px;
    height: 30px;
    margin-right: 50px;
    margin-bottom: 5px;
}

.shadow-type-1 {
    box-shadow: red -10px -10px 5px;
}